{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="no-mb color-white">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="margin-top: 50px">
                
              <center>
                <h1>This site has moved to <a href="https://zkamvar.netlify.com">zkamvar.netlify.com</a></h1>
                <h3>
                The content of zkamvar.github.io will no longer be updated, but will be preserved for future reference.
                </h3>
                <h1>This site has moved to <a href="https://zkamvar.netlify.com">zkamvar.netlify.com</a></h1>
              </center>

            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
