{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="bar background-image-fixed-2 no-mb color-white">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8" style="margin-top: 100px">
                
                <h1>Hi! I'm Zhian</h1>
                <p class="lead">
                  I'm a computational biologist focused on population genetics of clonal plant pathogens. In fact, I've written an R package for that called <a href="https://github/grunwaldlab/poppr#readme"><i><b>poppr</b></i></a>
                </p>               
                <p class="lead">
                  This site serves as my personal site where I can blog about various subjects including R programming, reproducible science, and population genetics.
                </p>               

            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
